header {
    width: 100vw;
    height: 100px;
    padding: 10px;
    background-color: white;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;

    .logo_box {
        background-image: url('../assets/logo.svg');
        height: 60px;
        width: 120px;
        background-repeat: no-repeat;
        background-size: cover;
        margin: 10px 20px;
        align-self: flex-start;

        @media screen and (max-width: 497px) {
            width: 40px;
            height: 40px;
            
        }
    }

    .link_box {
        height: 80px;
        margin: 10px;
        align-self: flex-end;
        padding: 20px;
        justify-content: space-evenly;

        .button_style{
            margin: 5px;
            background-color: #09fecf;
            border-color: #09fecf;
            color: #005522;
        }
    }
}