body {
    margin: 0;
    padding: 0;
    width: 100vw;
    height: 100vh;
    background: url('../src/assets/images/mountains.jpg');
    background-color: teal;
    background-repeat: no-repeat;
    background-size: cover;
    overflow-x: hidden;
}
